body {
  color: white;
  background-color: darkblue;
}

table {
  border: 2px solid;
  width: 100%;
}

td {
  border-top: 2px solid;
  text-align: center;
}

.resultado {
  color: yellow;
  background-color: darkred;
}

.blanco {
  color: white;
}

.texto-centrado {
  text-align: center;
}

.texto-izquierda {
  text-align: left;
}

.fuente-30 {
  font-size: 30pt;
}